* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a18aff;
  color: #717082;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#pink {
  background-color: #fd99af;
  color: #fd99af;
}

#blue {
  background-color: #3fd4f4;
  color: #3fd4f4;
}

#pink,
#blue,
#yellow {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 20px;
}

#yellow {
  background-color: #fac608;
  color: #fac608;
  /* margin-right: 40px; */
}

/* Profile */
main {
  width: 100vw;
  height: 100vh;
  border: 10px solid #fff;
  border-radius: 12px;
  display: flex;
}
main #features {
  width: 350px;
  height: inherit;
  border: 1px solid transparent;
  background: #fff;
  padding: 1rem;
  /* Navigation buttons */
}
main #features-user-profile {
  height: 150px;
  border: 1px solid transparent;
  padding: 1rem;
  position: relative;
  margin-bottom: 50px;
}
main #features-user-profile::after {
  content: "";
  left: 0;
  top: 0;
  height: 50px;
  width: 50%;
  border-bottom: 3px solid #000;
}
main #features-user-profile div {
  height: inherit;
  display: flex;
  /* position: absolute; */
  border-bottom: 2px solid #a18aff;
  right: 70%;
  bottom: 0;
}
main #features-user-profile div #img {
  border: 1px solid transparent;
}
main #features-user-profile div #img img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
main #features-user-profile div #user-descp {
  /* @include border(red); */
  padding: 1rem;
  color: #717082;
  display: flex;
  flex-direction: column;
}
main #features-user-profile div #user-descp p {
  color: #a18aff;
  font-size: 1.6rem;
  font-weight: 700;
}
main #features #nav-buttons {
  border: 1px solid transparent;
  font-weight: 900;
}
main #features #nav-buttons #main_list {
  list-style: none;
  padding: 0 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}
main #features #nav-buttons #main_list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 250px;
  border: 1px solid transparent;
  margin: 10px 0;
  cursor: pointer;
}
main #features #nav-buttons #main_list li svg {
  height: 30px;
  width: 30px;
  margin-right: 50px;
  fill: #717082;
}
main #features #nav-buttons #main_list li:hover {
  color: #ca8bfe;
}
main #features #nav-buttons #main_list li:hover svg {
  fill: #ca8bfe;
}
main #features #nav-buttons #main_list ul {
  list-style: none;
}
main #features #nav-buttons #main_list ul li {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px;
}
main #display {
  flex: 1;
  width: 400px;
  height: 100vh;
  /* background: #fff; */
  border: 3px solid #fff;
  color: #fff;
  border: 1px solid transparent;
  /* Task display */
}
main #display header {
  height: 150px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}
main #display header div {
  margin: 0 100px;
}
main #display header div h2 {
  font-size: 1.5rem;
}
main #display header div h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
main #display #task_input {
  border: 1px solid transparent;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #display #task_input div {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 20px;
  margin-left: 100px;
  align-items: center;
  padding: 0.2rem 2rem;
  width: 80%;
}
main #display #task_input div input {
  width: 80%;
  height: 60px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #a18aff;
  /* border: none; */
}
main #display #task_input div input::placeholder {
  color: #dbdbdb;
}
main #display #task_display {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #717082;
}
main #display #task_display .task_item {
  width: 70%;
  height: 60px;
  background: #fff;
  margin: 5px 0;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
main #display #task_display .task_item #defining {
  border: 1px solid transparent;
  display: flex;
}
main #display #task_display .task_item #defining p {
  font-size: 1.2rem;
  font-weight: 900;
  padding-left: 20px;
}
main #display #task_display .task_item #completion {
  border: 1px solid transparent;
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-weight: 900;
  align-items: center;
}
main #display #task_display .task_item #completion svg {
  width: 100px;
  height: 30px;
  fill: #a18aff;
}

/*# sourceMappingURL=main.css.map */
